@font-face {
    font-family: 'ST-IconsF';
    src: url('fonts/ST-Icons.eot?d78ips');
    src: url('fonts/ST-Icons.eot?d78ips#iefix') format('embedded-opentype'),
    url('fonts/ST-Icons.ttf?d78ips') format('truetype'),
    url('fonts/ST-Icons.woff?d78ips') format('woff'),
    url('fonts/ST-Icons.svg?d78ips#ST-Icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.st-icon-f {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'ST-IconsF' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.st-home:before {
    content: "\e900";
}

.st-home2:before {
    content: "\e901";
}

.st-home3:before {
    content: "\e902";
}

.st-office:before {
    content: "\e903";
}

.st-newspaper:before {
    content: "\e904";
}

.st-pencil:before {
    content: "\e905";
}

.st-pencil2:before {
    content: "\e906";
}

.st-quill:before {
    content: "\e907";
}

.st-pen:before {
    content: "\e908";
}

.st-blog:before {
    content: "\e909";
}

.st-eyedropper:before {
    content: "\e90a";
}

.st-droplet:before {
    content: "\e90b";
}

.st-paint-format:before {
    content: "\e90c";
}

.st-image:before {
    content: "\e90d";
}

.st-images:before {
    content: "\e90e";
}

.st-camera:before {
    content: "\e90f";
}

.st-headphones:before {
    content: "\e910";
}

.st-music:before {
    content: "\e911";
}

.st-play:before {
    content: "\e912";
}

.st-film:before {
    content: "\e913";
}

.st-video-camera:before {
    content: "\e914";
}

.st-dice:before {
    content: "\e915";
}

.st-pacman:before {
    content: "\e916";
}

.st-spades:before {
    content: "\e917";
}

.st-clubs:before {
    content: "\e918";
}

.st-diamonds:before {
    content: "\e919";
}

.st-bullhorn:before {
    content: "\e91a";
}

.st-connection:before {
    content: "\e91b";
}

.st-podcast:before {
    content: "\e91c";
}

.st-feed:before {
    content: "\e91d";
}

.st-mic:before {
    content: "\e91e";
}

.st-book:before {
    content: "\e91f";
}

.st-books:before {
    content: "\e920";
}

.st-library:before {
    content: "\e921";
}

.st-file-text:before {
    content: "\e922";
}

.st-profile:before {
    content: "\e923";
}

.st-file-empty:before {
    content: "\e924";
}

.st-files-empty:before {
    content: "\e925";
}

.st-file-text2:before {
    content: "\e926";
}

.st-file-picture:before {
    content: "\e927";
}

.st-file-music:before {
    content: "\e928";
}

.st-file-play:before {
    content: "\e929";
}

.st-file-video:before {
    content: "\e92a";
}

.st-file-zip:before {
    content: "\e92b";
}

.st-copy:before {
    content: "\e92c";
}

.st-paste:before {
    content: "\e92d";
}

.st-stack:before {
    content: "\e92e";
}

.st-folder:before {
    content: "\e92f";
}

.st-folder-open:before {
    content: "\e930";
}

.st-folder-plus:before {
    content: "\e931";
}

.st-folder-minus:before {
    content: "\e932";
}

.st-folder-download:before {
    content: "\e933";
}

.st-folder-upload:before {
    content: "\e934";
}

.st-price-tag:before {
    content: "\e935";
}

.st-price-tags:before {
    content: "\e936";
}

.st-barcode:before {
    content: "\e937";
}

.st-qrcode:before {
    content: "\e938";
}

.st-ticket:before {
    content: "\e939";
}

.st-cart:before {
    content: "\e93a";
}

.st-coin-dollar:before {
    content: "\e93b";
}

.st-coin-euro:before {
    content: "\e93c";
}

.st-coin-pound:before {
    content: "\e93d";
}

.st-coin-yen:before {
    content: "\e93e";
}

.st-credit-card:before {
    content: "\e93f";
}

.st-calculator:before {
    content: "\e940";
}

.st-lifebuoy:before {
    content: "\e941";
}

.st-phone:before {
    content: "\e942";
}

.st-phone-hang-up:before {
    content: "\e943";
}

.st-address-book:before {
    content: "\e944";
}

.st-envelop:before {
    content: "\e945";
}

.st-pushpin:before {
    content: "\e946";
}

.st-location:before {
    content: "\e947";
}

.st-location2:before {
    content: "\e948";
}

.st-compass:before {
    content: "\e949";
}

.st-compass2:before {
    content: "\e94a";
}

.st-map:before {
    content: "\e94b";
}

.st-map2:before {
    content: "\e94c";
}

.st-history:before {
    content: "\e94d";
}

.st-clock:before {
    content: "\e94e";
}

.st-clock2:before {
    content: "\e94f";
}

.st-alarm:before {
    content: "\e950";
}

.st-bell:before {
    content: "\e951";
}

.st-stopwatch:before {
    content: "\e952";
}

.st-calendar:before {
    content: "\e953";
}

.st-printer:before {
    content: "\e954";
}

.st-keyboard:before {
    content: "\e955";
}

.st-display:before {
    content: "\e956";
}

.st-laptop:before {
    content: "\e957";
}

.st-mobile:before {
    content: "\e958";
}

.st-mobile2:before {
    content: "\e959";
}

.st-tablet:before {
    content: "\e95a";
}

.st-tv:before {
    content: "\e95b";
}

.st-drawer:before {
    content: "\e95c";
}

.st-drawer2:before {
    content: "\e95d";
}

.st-box-add:before {
    content: "\e95e";
}

.st-box-remove:before {
    content: "\e95f";
}

.st-download:before {
    content: "\e960";
}

.st-upload:before {
    content: "\e961";
}

.st-floppy-disk:before {
    content: "\e962";
}

.st-drive:before {
    content: "\e963";
}

.st-database:before {
    content: "\e964";
}

.st-undo:before {
    content: "\e965";
}

.st-redo:before {
    content: "\e966";
}

.st-undo2:before {
    content: "\e967";
}

.st-redo2:before {
    content: "\e968";
}

.st-forward:before {
    content: "\e969";
}

.st-reply:before {
    content: "\e96a";
}

.st-bubble:before {
    content: "\e96b";
}

.st-bubbles:before {
    content: "\e96c";
}

.st-bubbles2:before {
    content: "\e96d";
}

.st-bubble2:before {
    content: "\e96e";
}

.st-bubbles3:before {
    content: "\e96f";
}

.st-bubbles4:before {
    content: "\e970";
}

.st-user:before {
    content: "\e971";
}

.st-users:before {
    content: "\e972";
}

.st-user-plus:before {
    content: "\e973";
}

.st-user-minus:before {
    content: "\e974";
}

.st-user-check:before {
    content: "\e975";
}

.st-user-tie:before {
    content: "\e976";
}

.st-quotes-left:before {
    content: "\e977";
}

.st-quotes-right:before {
    content: "\e978";
}

.st-hour-glass:before {
    content: "\e979";
}

.st-spinner:before {
    content: "\e97a";
}

.st-spinner2:before {
    content: "\e97b";
}

.st-spinner3:before {
    content: "\e97c";
}

.st-spinner4:before {
    content: "\e97d";
}

.st-spinner5:before {
    content: "\e97e";
}

.st-spinner6:before {
    content: "\e97f";
}

.st-spinner7:before {
    content: "\e980";
}

.st-spinner8:before {
    content: "\e981";
}

.st-spinner9:before {
    content: "\e982";
}

.st-spinner10:before {
    content: "\e983";
}

.st-spinner11:before {
    content: "\e984";
}

.st-binoculars:before {
    content: "\e985";
}

.st-search:before {
    content: "\e986";
}

.st-zoom-in:before {
    content: "\e987";
}

.st-zoom-out:before {
    content: "\e988";
}

.st-enlarge:before {
    content: "\e989";
}

.st-shrink:before {
    content: "\e98a";
}

.st-enlarge2:before {
    content: "\e98b";
}

.st-shrink2:before {
    content: "\e98c";
}

.st-key:before {
    content: "\e98d";
}

.st-key2:before {
    content: "\e98e";
}

.st-lock:before {
    content: "\e98f";
}

.st-unlocked:before {
    content: "\e990";
}

.st-wrench:before {
    content: "\e991";
}

.st-equalizer:before {
    content: "\e992";
}

.st-equalizer2:before {
    content: "\e993";
}

.st-cog:before {
    content: "\e994";
}

.st-cogs:before {
    content: "\e995";
}

.st-hammer:before {
    content: "\e996";
}

.st-magic-wand:before {
    content: "\e997";
}

.st-aid-kit:before {
    content: "\e998";
}

.st-bug:before {
    content: "\e999";
}

.st-pie-chart:before {
    content: "\e99a";
}

.st-stats-dots:before {
    content: "\e99b";
}

.st-stats-bars:before {
    content: "\e99c";
}

.st-stats-bars2:before {
    content: "\e99d";
}

.st-trophy:before {
    content: "\e99e";
}

.st-gift:before {
    content: "\e99f";
}

.st-glass:before {
    content: "\e9a0";
}

.st-glass2:before {
    content: "\e9a1";
}

.st-mug:before {
    content: "\e9a2";
}

.st-spoon-knife:before {
    content: "\e9a3";
}

.st-leaf:before {
    content: "\e9a4";
}

.st-rocket:before {
    content: "\e9a5";
}

.st-meter:before {
    content: "\e9a6";
}

.st-meter2:before {
    content: "\e9a7";
}

.st-hammer2:before {
    content: "\e9a8";
}

.st-fire:before {
    content: "\e9a9";
}

.st-lab:before {
    content: "\e9aa";
}

.st-magnet:before {
    content: "\e9ab";
}

.st-bin:before {
    content: "\e9ac";
}

.st-bin2:before {
    content: "\e9ad";
}

.st-briefcase:before {
    content: "\e9ae";
}

.st-airplane:before {
    content: "\e9af";
}

.st-truck:before {
    content: "\e9b0";
}

.st-road:before {
    content: "\e9b1";
}

.st-accessibility:before {
    content: "\e9b2";
}

.st-target:before {
    content: "\e9b3";
}

.st-shield:before {
    content: "\e9b4";
}

.st-power:before {
    content: "\e9b5";
}

.st-switch:before {
    content: "\e9b6";
}

.st-power-cord:before {
    content: "\e9b7";
}

.st-clipboard:before {
    content: "\e9b8";
}

.st-list-numbered:before {
    content: "\e9b9";
}

.st-list:before {
    content: "\e9ba";
}

.st-list2:before {
    content: "\e9bb";
}

.st-tree:before {
    content: "\e9bc";
}

.st-menu:before {
    content: "\e9bd";
}

.st-menu2:before {
    content: "\e9be";
}

.st-menu3:before {
    content: "\e9bf";
}

.st-menu4:before {
    content: "\e9c0";
}

.st-cloud:before {
    content: "\e9c1";
}

.st-cloud-download:before {
    content: "\e9c2";
}

.st-cloud-upload:before {
    content: "\e9c3";
}

.st-cloud-check:before {
    content: "\e9c4";
}

.st-download2:before {
    content: "\e9c5";
}

.st-upload2:before {
    content: "\e9c6";
}

.st-download3:before {
    content: "\e9c7";
}

.st-upload3:before {
    content: "\e9c8";
}

.st-sphere:before {
    content: "\e9c9";
}

.st-earth:before {
    content: "\e9ca";
}

.st-link:before {
    content: "\e9cb";
}

.st-flag:before {
    content: "\e9cc";
}

.st-attachment:before {
    content: "\e9cd";
}

.st-eye:before {
    content: "\e9ce";
}

.st-eye-plus:before {
    content: "\e9cf";
}

.st-eye-minus:before {
    content: "\e9d0";
}

.st-eye-blocked:before {
    content: "\e9d1";
}

.st-bookmark:before {
    content: "\e9d2";
}

.st-bookmarks:before {
    content: "\e9d3";
}

.st-sun:before {
    content: "\e9d4";
}

.st-contrast:before {
    content: "\e9d5";
}

.st-brightness-contrast:before {
    content: "\e9d6";
}

.st-star-empty:before {
    content: "\e9d7";
}

.st-star-half:before {
    content: "\e9d8";
}

.st-star-full:before {
    content: "\e9d9";
}

.st-heart:before {
    content: "\e9da";
}

.st-heart-broken:before {
    content: "\e9db";
}

.st-man:before {
    content: "\e9dc";
}

.st-woman:before {
    content: "\e9dd";
}

.st-man-woman:before {
    content: "\e9de";
}

.st-happy:before {
    content: "\e9df";
}

.st-happy2:before {
    content: "\e9e0";
}

.st-smile:before {
    content: "\e9e1";
}

.st-smile2:before {
    content: "\e9e2";
}

.st-tongue:before {
    content: "\e9e3";
}

.st-tongue2:before {
    content: "\e9e4";
}

.st-sad:before {
    content: "\e9e5";
}

.st-sad2:before {
    content: "\e9e6";
}

.st-wink:before {
    content: "\e9e7";
}

.st-wink2:before {
    content: "\e9e8";
}

.st-grin:before {
    content: "\e9e9";
}

.st-grin2:before {
    content: "\e9ea";
}

.st-cool:before {
    content: "\e9eb";
}

.st-cool2:before {
    content: "\e9ec";
}

.st-angry:before {
    content: "\e9ed";
}

.st-angry2:before {
    content: "\e9ee";
}

.st-evil:before {
    content: "\e9ef";
}

.st-evil2:before {
    content: "\e9f0";
}

.st-shocked:before {
    content: "\e9f1";
}

.st-shocked2:before {
    content: "\e9f2";
}

.st-baffled:before {
    content: "\e9f3";
}

.st-baffled2:before {
    content: "\e9f4";
}

.st-confused:before {
    content: "\e9f5";
}

.st-confused2:before {
    content: "\e9f6";
}

.st-neutral:before {
    content: "\e9f7";
}

.st-neutral2:before {
    content: "\e9f8";
}

.st-hipster:before {
    content: "\e9f9";
}

.st-hipster2:before {
    content: "\e9fa";
}

.st-wondering:before {
    content: "\e9fb";
}

.st-wondering2:before {
    content: "\e9fc";
}

.st-sleepy:before {
    content: "\e9fd";
}

.st-sleepy2:before {
    content: "\e9fe";
}

.st-frustrated:before {
    content: "\e9ff";
}

.st-frustrated2:before {
    content: "\ea00";
}

.st-crying:before {
    content: "\ea01";
}

.st-crying2:before {
    content: "\ea02";
}

.st-point-up:before {
    content: "\ea03";
}

.st-point-right:before {
    content: "\ea04";
}

.st-point-down:before {
    content: "\ea05";
}

.st-point-left:before {
    content: "\ea06";
}

.st-warning:before {
    content: "\ea07";
}

.st-notification:before {
    content: "\ea08";
}

.st-question:before {
    content: "\ea09";
}

.st-plus:before {
    content: "\ea0a";
}

.st-minus:before {
    content: "\ea0b";
}

.st-info:before {
    content: "\ea0c";
}

.st-cancel-circle:before {
    content: "\ea0d";
}

.st-blocked:before {
    content: "\ea0e";
}

.st-cross:before {
    content: "\ea0f";
}

.st-checkmark:before {
    content: "\ea10";
}

.st-checkmark2:before {
    content: "\ea11";
}

.st-spell-check:before {
    content: "\ea12";
}

.st-enter:before {
    content: "\ea13";
}

.st-exit:before {
    content: "\ea14";
}

.st-play2:before {
    content: "\ea15";
}

.st-pause:before {
    content: "\ea16";
}

.st-stop:before {
    content: "\ea17";
}

.st-previous:before {
    content: "\ea18";
}

.st-next:before {
    content: "\ea19";
}

.st-backward:before {
    content: "\ea1a";
}

.st-forward2:before {
    content: "\ea1b";
}

.st-play3:before {
    content: "\ea1c";
}

.st-pause2:before {
    content: "\ea1d";
}

.st-stop2:before {
    content: "\ea1e";
}

.st-backward2:before {
    content: "\ea1f";
}

.st-forward3:before {
    content: "\ea20";
}

.st-first:before {
    content: "\ea21";
}

.st-last:before {
    content: "\ea22";
}

.st-previous2:before {
    content: "\ea23";
}

.st-next2:before {
    content: "\ea24";
}

.st-eject:before {
    content: "\ea25";
}

.st-volume-high:before {
    content: "\ea26";
}

.st-volume-medium:before {
    content: "\ea27";
}

.st-volume-low:before {
    content: "\ea28";
}

.st-volume-mute:before {
    content: "\ea29";
}

.st-volume-mute2:before {
    content: "\ea2a";
}

.st-volume-increase:before {
    content: "\ea2b";
}

.st-volume-decrease:before {
    content: "\ea2c";
}

.st-loop:before {
    content: "\ea2d";
}

.st-loop2:before {
    content: "\ea2e";
}

.st-infinite:before {
    content: "\ea2f";
}

.st-shuffle:before {
    content: "\ea30";
}

.st-arrow-up-left:before {
    content: "\ea31";
}

.st-arrow-up:before {
    content: "\ea32";
}

.st-arrow-up-right:before {
    content: "\ea33";
}

.st-arrow-right:before {
    content: "\ea34";
}

.st-arrow-down-right:before {
    content: "\ea35";
}

.st-arrow-down:before {
    content: "\ea36";
}

.st-arrow-down-left:before {
    content: "\ea37";
}

.st-arrow-left:before {
    content: "\ea38";
}

.st-arrow-up-left2:before {
    content: "\ea39";
}

.st-arrow-up2:before {
    content: "\ea3a";
}

.st-arrow-up-right2:before {
    content: "\ea3b";
}

.st-arrow-right2:before {
    content: "\ea3c";
}

.st-arrow-down-right2:before {
    content: "\ea3d";
}

.st-arrow-down2:before {
    content: "\ea3e";
}

.st-arrow-down-left2:before {
    content: "\ea3f";
}

.st-arrow-left2:before {
    content: "\ea40";
}

.st-circle-up:before {
    content: "\ea41";
}

.st-circle-right:before {
    content: "\ea42";
}

.st-circle-down:before {
    content: "\ea43";
}

.st-circle-left:before {
    content: "\ea44";
}

.st-tab:before {
    content: "\ea45";
}

.st-move-up:before {
    content: "\ea46";
}

.st-move-down:before {
    content: "\ea47";
}

.st-sort-alpha-asc:before {
    content: "\ea48";
}

.st-sort-alpha-desc:before {
    content: "\ea49";
}

.st-sort-numeric-asc:before {
    content: "\ea4a";
}

.st-sort-numberic-desc:before {
    content: "\ea4b";
}

.st-sort-amount-asc:before {
    content: "\ea4c";
}

.st-sort-amount-desc:before {
    content: "\ea4d";
}

.st-command:before {
    content: "\ea4e";
}

.st-shift:before {
    content: "\ea4f";
}

.st-ctrl:before {
    content: "\ea50";
}

.st-opt:before {
    content: "\ea51";
}

.st-checkbox-checked:before {
    content: "\ea52";
}

.st-checkbox-unchecked:before {
    content: "\ea53";
}

.st-radio-checked:before {
    content: "\ea54";
}

.st-radio-checked2:before {
    content: "\ea55";
}

.st-radio-unchecked:before {
    content: "\ea56";
}

.st-crop:before {
    content: "\ea57";
}

.st-make-group:before {
    content: "\ea58";
}

.st-ungroup:before {
    content: "\ea59";
}

.st-scissors:before {
    content: "\ea5a";
}

.st-filter:before {
    content: "\ea5b";
}

.st-font:before {
    content: "\ea5c";
}

.st-ligature:before {
    content: "\ea5d";
}

.st-ligature2:before {
    content: "\ea5e";
}

.st-text-height:before {
    content: "\ea5f";
}

.st-text-width:before {
    content: "\ea60";
}

.st-font-size:before {
    content: "\ea61";
}

.st-bold:before {
    content: "\ea62";
}

.st-underline:before {
    content: "\ea63";
}

.st-italic:before {
    content: "\ea64";
}

.st-strikethrough:before {
    content: "\ea65";
}

.st-omega:before {
    content: "\ea66";
}

.st-sigma:before {
    content: "\ea67";
}

.st-page-break:before {
    content: "\ea68";
}

.st-superscript:before {
    content: "\ea69";
}

.st-subscript:before {
    content: "\ea6a";
}

.st-superscript2:before {
    content: "\ea6b";
}

.st-subscript2:before {
    content: "\ea6c";
}

.st-text-color:before {
    content: "\ea6d";
}

.st-pagebreak:before {
    content: "\ea6e";
}

.st-clear-formatting:before {
    content: "\ea6f";
}

.st-table:before {
    content: "\ea70";
}

.st-table2:before {
    content: "\ea71";
}

.st-insert-template:before {
    content: "\ea72";
}

.st-pilcrow:before {
    content: "\ea73";
}

.st-ltr:before {
    content: "\ea74";
}

.st-rtl:before {
    content: "\ea75";
}

.st-section:before {
    content: "\ea76";
}

.st-paragraph-left:before {
    content: "\ea77";
}

.st-paragraph-center:before {
    content: "\ea78";
}

.st-paragraph-right:before {
    content: "\ea79";
}

.st-paragraph-justify:before {
    content: "\ea7a";
}

.st-indent-increase:before {
    content: "\ea7b";
}

.st-indent-decrease:before {
    content: "\ea7c";
}

.st-share:before {
    content: "\ea7d";
}

.st-new-tab:before {
    content: "\ea7e";
}

.st-embed:before {
    content: "\ea7f";
}

.st-embed2:before {
    content: "\ea80";
}

.st-terminal:before {
    content: "\ea81";
}

.st-share2:before {
    content: "\ea82";
}

.st-mail:before {
    content: "\ea83";
}

.st-mail2:before {
    content: "\ea84";
}

.st-mail3:before {
    content: "\ea85";
}

.st-mail4:before {
    content: "\ea86";
}

.st-amazon:before {
    content: "\ea87";
}

.st-google:before {
    content: "\ea88";
}

.st-google2:before {
    content: "\ea89";
}

.st-google3:before {
    content: "\ea8a";
}

.st-google-plus:before {
    content: "\ea8b";
}

.st-google-plus2:before {
    content: "\ea8c";
}

.st-google-plus3:before {
    content: "\ea8d";
}

.st-hangouts:before {
    content: "\ea8e";
}

.st-google-drive:before {
    content: "\ea8f";
}

.st-facebook:before {
    content: "\ea90";
}

.st-facebook2:before {
    content: "\ea91";
}

.st-instagram:before {
    content: "\ea92";
}

.st-whatsapp:before {
    content: "\ea93";
}

.st-spotify:before {
    content: "\ea94";
}

.st-telegram:before {
    content: "\ea95";
}

.st-twitter:before {
    content: "\ea96";
}

.st-vine:before {
    content: "\ea97";
}

.st-vk:before {
    content: "\ea98";
}

.st-renren:before {
    content: "\ea99";
}

.st-sina-weibo:before {
    content: "\ea9a";
}

.st-rss:before {
    content: "\ea9b";
}

.st-rss2:before {
    content: "\ea9c";
}

.st-youtube:before {
    content: "\ea9d";
}

.st-youtube2:before {
    content: "\ea9e";
}

.st-twitch:before {
    content: "\ea9f";
}

.st-vimeo:before {
    content: "\eaa0";
}

.st-vimeo2:before {
    content: "\eaa1";
}

.st-lanyrd:before {
    content: "\eaa2";
}

.st-flickr:before {
    content: "\eaa3";
}

.st-flickr2:before {
    content: "\eaa4";
}

.st-flickr3:before {
    content: "\eaa5";
}

.st-flickr4:before {
    content: "\eaa6";
}

.st-dribbble:before {
    content: "\eaa7";
}

.st-behance:before {
    content: "\eaa8";
}

.st-behance2:before {
    content: "\eaa9";
}

.st-deviantart:before {
    content: "\eaaa";
}

.st-500px:before {
    content: "\eaab";
}

.st-steam:before {
    content: "\eaac";
}

.st-steam2:before {
    content: "\eaad";
}

.st-dropbox:before {
    content: "\eaae";
}

.st-onedrive:before {
    content: "\eaaf";
}

.st-github:before {
    content: "\eab0";
}

.st-npm:before {
    content: "\eab1";
}

.st-basecamp:before {
    content: "\eab2";
}

.st-trello:before {
    content: "\eab3";
}

.st-wordpress:before {
    content: "\eab4";
}

.st-joomla:before {
    content: "\eab5";
}

.st-ello:before {
    content: "\eab6";
}

.st-blogger:before {
    content: "\eab7";
}

.st-blogger2:before {
    content: "\eab8";
}

.st-tumblr:before {
    content: "\eab9";
}

.st-tumblr2:before {
    content: "\eaba";
}

.st-yahoo:before {
    content: "\eabb";
}

.st-yahoo2:before {
    content: "\eabc";
}

.st-tux:before {
    content: "\eabd";
}

.st-appleinc:before {
    content: "\eabe";
}

.st-finder:before {
    content: "\eabf";
}

.st-android:before {
    content: "\eac0";
}

.st-windows:before {
    content: "\eac1";
}

.st-windows8:before {
    content: "\eac2";
}

.st-soundcloud:before {
    content: "\eac3";
}

.st-soundcloud2:before {
    content: "\eac4";
}

.st-skype:before {
    content: "\eac5";
}

.st-reddit:before {
    content: "\eac6";
}

.st-hackernews:before {
    content: "\eac7";
}

.st-wikipedia:before {
    content: "\eac8";
}

.st-linkedin:before {
    content: "\eac9";
}

.st-linkedin2:before {
    content: "\eaca";
}

.st-lastfm:before {
    content: "\eacb";
}

.st-lastfm2:before {
    content: "\eacc";
}

.st-delicious:before {
    content: "\eacd";
}

.st-stumbleupon:before {
    content: "\eace";
}

.st-stumbleupon2:before {
    content: "\eacf";
}

.st-stackoverflow:before {
    content: "\ead0";
}

.st-pinterest:before {
    content: "\ead1";
}

.st-pinterest2:before {
    content: "\ead2";
}

.st-xing:before {
    content: "\ead3";
}

.st-xing2:before {
    content: "\ead4";
}

.st-flattr:before {
    content: "\ead5";
}

.st-foursquare:before {
    content: "\ead6";
}

.st-yelp:before {
    content: "\ead7";
}

.st-paypal:before {
    content: "\ead8";
}

.st-chrome:before {
    content: "\ead9";
}

.st-firefox:before {
    content: "\eada";
}

.st-IE:before {
    content: "\eadb";
}

.st-edge:before {
    content: "\eadc";
}

.st-safari:before {
    content: "\eadd";
}

.st-opera:before {
    content: "\eade";
}

.st-file-pdf:before {
    content: "\eadf";
}

.st-file-openoffice:before {
    content: "\eae0";
}

.st-file-word:before {
    content: "\eae1";
}

.st-file-excel:before {
    content: "\eae2";
}

.st-libreoffice:before {
    content: "\eae3";
}

.st-html-five:before {
    content: "\eae4";
}

.st-html-five2:before {
    content: "\eae5";
}

.st-css3:before {
    content: "\eae6";
}

.st-git:before {
    content: "\eae7";
}

.st-codepen:before {
    content: "\eae8";
}

.st-svg:before {
    content: "\eae9";
}

.st-IcoMoon:before {
    content: "\eaea";
}

